
#topbar
{
height:20px;
width:100%;
background-color:black;
}

#middlebar img
{
width:90%;
padding-left:75px;
padding-top:5px;
padding-bottom:5px;
}

#middlebar
{

}

#middlebar a
{
text-decoration:none;
background: none;
margin:20pxauto;
text-align: center;
border: 2px solid orange;
padding-left: 40px ;
padding-right: 40px ;
padding-bottom: 14px ;
padding-top: 14px ;
outline: none;
color:black;
border-radius: 24px;
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
cursor:pointer;
}

#middlebar a:hover
{
background-color:orange;
}

#bottombar
{
height:20px;
width:100%;
background-color:black;
}

